<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
  <div class="form-container">
    <h2>Login</h2>
    <form th:action="@{/auth/loginUser}" method="post" th:object="${authRequest}">
      <label for="username">Email:</label><br>
      <input 
        type="text" 
        id="username" 
        th:field="*{username}" 
        required 
        placeholder="Enter your username"
      ><br><br>

      <label for="password">Password:</label><br>
      <input 
        type="password" 
        id="password" 
        th:field="*{password}" 
        required 
        minlength="6" 
        maxlength="20"
        placeholder="Enter your password"
      ><br><br>

      <input type="submit" value="Login">
    </form>
    <p th:if="${error}" th:text="${error}" style="color:red;"></p>
  </div>
</body>
</html>
